<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
  </head>

  <body>
    <div class="ms_body" id="app">
      <header>
        <img src="" alt="" />
      </header>
      <div class="album-container">
        <div
          v-for="(disk,index) in diskList"
          class="img-container"
          @click="getAlbum(index)"
        >
          <img :src="disk.poster" alt="album cover" />
          <div class="info-container">
            <h3>{{ disk.title }}</h3>
            <p>{{disk.author}}</p>
            <h4>{{ disk.year }}</h4>
          </div>
        </div>
        <div
          v-if="temporaryAlbum && Object.keys(temporaryAlbum).length > 0"
          class="album-got"
        >
          <img :src="temporaryAlbum.poster" alt="album cover" />
          <div class="info-container">
            <h3>{{ temporaryAlbum.title }}</h3>
            <p>{{ temporaryAlbum.author }}</p>
            <h4>{{ temporaryAlbum.year }}</h4>
          </div>
          <button @click="exitAlbum()">X</button>
        </div>
      </div>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
